**Actividad 2 . Filtros**

Importar librerias

In [1]:
# Importar librerias 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Lectura del archivo Excel

In [3]:
# Cargar un archivo Excel sin índice
df= pd.read_excel('Detalle precios y productos fabricados 2022.xlsx')
df

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",434.48,52.80,52.80,434.48,52.80,381.68,381.68
1,F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
2,F37041,2022-01-05,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,551.61,177.68,177.68,3861.29,1243.73,373.94,2617.56
3,F37042,2022-01-05,DIEGO ARMANDO LEON DURAN,OMAR RODRIGUEZ GOMEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,140.00,38.96,38.96,140.00,38.96,101.04,101.04
4,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,172.41,101.71,101.71,344.83,203.42,70.71,141.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1421,F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12F1040A00,"CAS INOX 1/2""ØX3"" 400W 127V EXT.30CM",712.00,102.31,102.31,4272.00,613.88,609.69,3658.12
1422,F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12H1050A00,"CAS INOX 1/2""ØX4"" 500W 127V EXT30CM",718.60,104.69,104.69,4311.60,628.12,613.91,3683.48
1423,F39835,2022-12-23,LETICIA RAMIREZ HERNANDEZ,SEVEN DAYS ALL SPORT,3,TUE00394,"TUB INOX 5/16""ØX300MM 5300W 220V ""M"" ESP",2182.35,0.00,596.55,6547.05,1789.64,1585.80,4757.41
1424,F39837,2022-12-23,LETICIA RAMIREZ HERNANDEZ,REVUELTA MONTECARLO,1,TUA00470,"TUB INOX 1/2""ØX500MM 10KW 220V 2 1/2""NPT",5909.84,1884.35,1884.35,5909.84,1884.35,4025.49,4025.49
1425,F39838,2022-12-23,AARON NUÑO CORDOVA,CPEG SOLUTIONS,10,RB00007,FAB BOBINA DSD1 6 COLOCAR B/NUEVA 488V,1406.00,0.00,80.66,14060.00,806.55,1325.34,13253.45

Verificar información del DataFrame

In [4]:
# Verificamos informacion del DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1426 entries, 0 to 1425
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CVE_DOC                    1426 non-null   object
 1   FECHA_DOC                  1426 non-null   datetime64[ns]
 2   NOMBRE_VENDEDOR            1424 non-null   object
 3   NOMBRE_CLIENTE             1426 non-null   object
 4   CANT                       1426 non-null   int64
 5   CVE_ART                    1426 non-null   object
 6   DESCR                      1426 non-null   object
 7   PRECIO_UNITARIO            1426 non-null   float64
 8   COSTO_UNITARIO             1426 non-null   float64
 9   COSTO_UNITARIO_CALCULADO   1426 non-null   float64
 10  SUBTOTAL_PARTIDA           1426 non-null   float64
 11  COSTO_TOTAL_CALCULADO      1426 non-null   float64
 12  MARGEN_UNITARIO_CALCULADO  1426 non-null   float64
 13  MARGEN_TOTAL_CALCULADO     1426 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(5)
memory usage: 156.1+ KB

**Filtros Basicos para Variables Cualitativas**

**Filtro 1: Por objeto**

Descripción: Se crea un nuevo DataFrame (df) nombrado como filtro1 que contiene únicamente las filas donde la columna NOMBRE_VENDEDOR es igual a "LETICIA RAMIREZ HERNANDEZ".

In [6]:
filtro1=df[(df["NOMBRE_VENDEDOR"] == "LETICIA RAMIREZ HERNANDEZ")]
filtro1
# Convertir archivo filtrado a CSV
filtro1.to_csv("F1_PorObjeto.csv")

**Filtro 2: Por filas**

Descripción: Se utiliza iloc (index location) para seleccionar filas específicas por su posición, en este caso desde la fila 7 (inclusive) hasta la fila 11 (exclusiva). Los dos puntos (:) indican que se seleccionan todas las columnas de esas filas.

In [11]:
filtro2= df.iloc[7:11, :] # Filas consecutivas
filtro2
filtro2.to_csv("F2_PorFilas.csv")

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
7,F37046,2022-01-05,LETICIA RAMIREZ HERNANDEZ,ANA BARBARA CRUZ PALACIOS,3,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,94.5,38.96,38.96,283.5,116.88,55.54,166.62
8,F37048,2022-01-05,DIEGO ARMANDO LEON DURAN,FIDEICOMISO F/1596,1,TUE00207,"TUB INCOLOY 1/2""Øx412mm J 9KW 240V PLACA",1615.0,517.89,517.89,1615.0,517.89,1097.11,1097.11
9,F37049,2022-01-05,DIEGO ARMANDO LEON DURAN,FIDEICOMISO F/1596,1,TUE00207,"TUB INCOLOY 1/2""Øx412mm J 9KW 240V PLACA",1615.0,517.89,517.89,1615.0,517.89,1097.11,1097.11
10,F37050,2022-01-05,DIEGO ARMANDO LEON DURAN,FIDEICOMISO F/1596,1,TUE00207,"TUB INCOLOY 1/2""Øx412mm J 9KW 240V PLACA",1615.0,517.89,517.89,1615.0,517.89,1097.11,1097.11

In [13]:
filtro2_1= df.iloc[ [7,10] , :]  #  Filas no consecutivas
filtro2_1

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
7,F37046,2022-01-05,LETICIA RAMIREZ HERNANDEZ,ANA BARBARA CRUZ PALACIOS,3,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,94.5,38.96,38.96,283.5,116.88,55.54,166.62
10,F37050,2022-01-05,DIEGO ARMANDO LEON DURAN,FIDEICOMISO F/1596,1,TUE00207,"TUB INCOLOY 1/2""Øx412mm J 9KW 240V PLACA",1615.0,517.89,517.89,1615.0,517.89,1097.11,1097.11

**Filtro 3: Por columnas**

Descripción: Se utiliza iloc para seleccionar columnas consecutivas por su posición:
El rango 1:4 indica que se seleccionan las columnas desde la posición 1 (segunda columna) hasta la posición 4 (excluyendo la 4).
El símbolo : antes de la coma indica que se seleccionan todas las filas.

In [16]:
filtro3=df.iloc[ : , 1:4] # Columnas consecutivas 
filtro3
filtro3.to_csv("F3_PorColumnas.csv")

Descripción: Se seleccionan columnas no consecutivas del DataFrame:
[1, 3, 7, 10] indica las posiciones de las columnas seleccionadas (segunda, cuarta, octava y undécima columna).
El símbolo : antes de la coma indica que se seleccionan todas las filas.

In [17]:
filtro3_1=df.iloc[ : , [1,3,7,10]] # Columnas no consecutivas  
filtro3_1

,FECHA_DOC,NOMBRE_CLIENTE,PRECIO_UNITARIO,SUBTOTAL_PARTIDA
0,2022-01-05,PÚBLICO EN GENERAL,434.48,434.48
1,2022-01-05,JUAN ANTONIO RESENDIZ UGALDE,1264.05,1264.05
2,2022-01-05,ANA BARBARA CRUZ PALACIOS,551.61,3861.29
3,2022-01-05,OMAR RODRIGUEZ GOMEZ,140.00,140.00
4,2022-01-05,PÚBLICO EN GENERAL,172.41,344.83
...,...,...,...,...
1421,2022-12-23,LUIS ENRIQUE PATIÑO PEREZ,712.00,4272.00
1422,2022-12-23,LUIS ENRIQUE PATIÑO PEREZ,718.60,4311.60
1423,2022-12-23,SEVEN DAYS ALL SPORT,2182.35,6547.05
1424,2022-12-23,REVUELTA MONTECARLO,5909.84,5909.84
1425,2022-12-23,CPEG SOLUTIONS,1406.00,14060.00

**Cargar archivo con Indice**

Descripción: Se utiliza el parámetro index_col=0 para especificar que la primera columna del archivo (Detalle precios y productos fabricados 2022.xlsx) será utilizada como índice del DataFrame.

In [5]:
# Indice
df1= pd.read_excel('Detalle precios y productos fabricados 2022.xlsx', index_col=0)
df1

,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
CVE_DOC,,,,,,,,,,,,,
F37034,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",434.48,52.80,52.80,434.48,52.80,381.68,381.68
F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
F37041,2022-01-05,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,551.61,177.68,177.68,3861.29,1243.73,373.94,2617.56
F37042,2022-01-05,DIEGO ARMANDO LEON DURAN,OMAR RODRIGUEZ GOMEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,140.00,38.96,38.96,140.00,38.96,101.04,101.04
F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,172.41,101.71,101.71,344.83,203.42,70.71,141.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...
F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12F1040A00,"CAS INOX 1/2""ØX3"" 400W 127V EXT.30CM",712.00,102.31,102.31,4272.00,613.88,609.69,3658.12
F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12H1050A00,"CAS INOX 1/2""ØX4"" 500W 127V EXT30CM",718.60,104.69,104.69,4311.60,628.12,613.91,3683.48
F39835,2022-12-23,LETICIA RAMIREZ HERNANDEZ,SEVEN DAYS ALL SPORT,3,TUE00394,"TUB INOX 5/16""ØX300MM 5300W 220V ""M"" ESP",2182.35,0.00,596.55,6547.05,1789.64,1585.80,4757.41
F39837,2022-12-23,LETICIA RAMIREZ HERNANDEZ,REVUELTA MONTECARLO,1,TUA00470,"TUB INOX 1/2""ØX500MM 10KW 220V 2 1/2""NPT",5909.84,1884.35,1884.35,5909.84,1884.35,4025.49,4025.49
F39838,2022-12-23,AARON NUÑO CORDOVA,CPEG SOLUTIONS,10,RB00007,FAB BOBINA DSD1 6 COLOCAR B/NUEVA 488V,1406.00,0.00,80.66,14060.00,806.55,1325.34,13253.45

**Filtro 4: filas vs. columnas utilizando el índice**

Descripción: Se utiliza loc para filtrar el DataFrame df1 con base en:
Filas específicas: ["F37034", "F39838"] (se seleccionan únicamente estas dos filas según los valores de su índice).
Columnas específicas: ["NOMBRE_CLIENTE"] (se selecciona únicamente esta columna).

In [6]:
# Paso 2: aplicamos filtro de filas vs columnas (unicamente df con indice)

filtro4= df1.loc[["F37034", "F39838"], ["NOMBRE_CLIENTE"]]
filtro4
# filtro4.to_csv("F4_FilasVSColumnas.csv")

             NOMBRE_CLIENTE
CVE_DOC
F37034   PÚBLICO EN GENERAL
F39838       CPEG SOLUTIONS

**Filtro 5: Por cabecera**

Descripción: Utiliza el método head() para seleccionar las primeras n filas del DataFrame.
En este caso, se especifica el número 4 para extraer las primeras 4 filas.

In [30]:
# Filtro por cabecera (se puede especificar el numero)
filtro5= df.head(4)
filtro5
filtro5.to_csv("F5_Cabecera.csv")

**Filtro 6: Por cola**

Descripción: Utiliza el método tail() para seleccionar las últimas n filas del DataFrame.
En este caso, se especifica el número 6 para extraer las últimas 6 filas.

In [34]:
# Filtro por cola
filtro6= df.tail(6)
filtro6
filtro6.to_csv("F6_Cola.csv")

**Filtros Basicos para Variables Continuas**

**Filtro 7: por Comparación**

Descripción: Este filtro utiliza una condición lógica para seleccionar únicamente las filas donde la columna PRECIO_UNITARIO contiene valores mayores a 20000.
Se aplica directamente sobre el DataFrame df utilizando notación de corchetes ([]), generando un subconjunto de datos que cumple con la condición especificada.

In [47]:
# Filtro por comparación
filtro7= df[df["PRECIO_UNITARIO"] > 20000]
filtro7
filtro7.to_csv("F7_PorComparacion.csv")

**Filtros Basicos con Conectores Lógicos**

**Filtro 8: Filtro Y**

Descripción: Este filtro selecciona las filas del DataFrame df que cumplen simultáneamente con dos condiciones:
El valor en la columna PRECIO_UNITARIO es mayor a 20000.
El valor en la columna COSTO_UNITARIO es mayor a 100.
Utiliza el operador lógico & (AND) para combinar ambas condiciones.

In [56]:
filtro8 = df[(df["PRECIO_UNITARIO"] > 20000) & (df["COSTO_UNITARIO"] > 100)]
filtro8
filtro8.to_csv("F8_FiltroY.csv")

In [54]:
# Filtro Y (con otro ejemplo)
filtro8_1= df[(df["PRECIO_UNITARIO"] > 2000 ) & (df["FECHA_DOC"] == "2022-01-05")]
filtro8_1

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
6,F37044,2022-01-05,DIEGO ARMANDO LEON DURAN,AIRBUS HELICOPTERS MEXICO QUERETARO,1,RP00165,REPARACION DE BATIDOR 16.6KW 440V,14000.00,5323.76,5323.76,14000.00,5323.76,8676.24,8676.24
14,F37054,2022-01-05,DIEGO ARMANDO LEON DURAN,INDUSTRIAS NIBA,1,BC00023,BC INOX 114MMØX165MM 1500W 230V C/ALLEN,2095.25,0.00,742.05,2095.25,742.05,1353.20,1353.20

**Filtro 9: Filtro O**

Descripción: Este filtro selecciona las filas del DataFrame df que cumplen al menos una de las siguientes condiciones:
El valor en la columna PRECIO_UNITARIO es mayor a 2000.
El valor en la columna FECHA_DOC es igual a "2022-01-05".
Utiliza el operador lógico | (OR) para combinar las condiciones.

In [60]:
# Filtro o (o una o otra)
filtro9= df[(df["PRECIO_UNITARIO"] > 2000 ) | (df["FECHA_DOC"] == "2022-01-05")]
filtro9
filtro9.to_csv("F9_FiltroO.csv")

**Filtro 10: Filtro Not**

Descripción: Este filtro selecciona todas las filas del DataFrame df excepto aquellas donde el valor de la columna FECHA_DOC sea igual a "2022-01-05".
Utiliza el operador de negación ~ para invertir el resultado de la comparación df["FECHA_DOC"] == "2022-01-05".

In [63]:
# Filtro not (me da las que no resulten en esta fecha)
filtro10= df[~(df["FECHA_DOC"] == "2022-01-05")]
filtro10
filtro10.to_csv("F10_FiltroNot.csv")