**Actividad 2.2**

Importar librerias

In [1]:
# Importar librerias 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Lectura del archivo Excel

In [2]:
# Cargar el archivo sin indice
df= pd.read_excel('Datos de Facturación.xlsx')
df

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F29414,2465,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,F29415,3926,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,F29416,3926,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,F29417,3926,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,F29418,6813,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10890,F40306,8842,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaT,3272.00,0.0,0.0
10891,F40307,6218,NaN,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,504.15,0.0,0.0
10892,NaN,5926,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,275.68,0.0,0.0
10893,F40309,361,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaT,129.30,0.0,0.0
10894,F40310,3011,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaT,517.20,0.0,0.0

Verificar información del DataFrame

In [3]:
# Verificamos información del DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10895 entries, 0 to 10894
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CVE_DOC        10890 non-null  object
 1   CVE_CLPV       10895 non-null  object
 2   STATUS         10886 non-null  object
 3   CVE_VEND       10847 non-null  float64
 4   FECHAELAB      10893 non-null  datetime64[ns]
 5   FECHA_DOC      10894 non-null  datetime64[ns]
 6   FECHA_ENT      10893 non-null  object
 7   FECHA_VEN      10895 non-null  datetime64[ns]
 8   FECHA_CANCELA  358 non-null    datetime64[ns]
 9   CAN_TOT        10889 non-null  float64
 10  DES_TOT        10894 non-null  float64
 11  DES_FIN        10892 non-null  float64
dtypes: datetime64[ns](4), float64(4), object(4)
memory usage: 1021.5+ KB

Convetir de objetos a numerico

Descripción: aquí se convierte la variable CVE_CLPV de objeto a numero.

In [26]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

df['CVE_CLPV'] = le.fit_transform(df['CVE_CLPV'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10895 entries, 0 to 10894
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CVE_DOC        10890 non-null  object
 1   CVE_CLPV       10895 non-null  int64
 2   STATUS         10886 non-null  object
 3   CVE_VEND       10847 non-null  float64
 4   FECHAELAB      10893 non-null  datetime64[ns]
 5   FECHA_DOC      10894 non-null  datetime64[ns]
 6   FECHA_ENT      10893 non-null  object
 7   FECHA_VEN      10895 non-null  datetime64[ns]
 8   FECHA_CANCELA  358 non-null    datetime64[ns]
 9   CAN_TOT        10889 non-null  float64
 10  DES_TOT        10894 non-null  float64
 11  DES_FIN        10892 non-null  float64
dtypes: datetime64[ns](4), float64(4), int64(1), object(3)
memory usage: 1021.5+ KB

**Filtro 1: Utilizando Filtro Y**

Descripción: 1-CVE_CLPV      (valores: 1000 a 2000) Con el filtro Y podemos buscar los valores que van de 1000 a 2000 de la variable CVE_CLPV.

In [51]:
filtro1= df[(df["CVE_CLPV"] >= 1000) & (df["CVE_CLPV"] <= 2000)]
filtro1.to_csv("F1_Ejercicio1.csv")
filtro1

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
4,F29418,1053,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03,2019-09-03,2019-09-10,2435.4400,0.0,0.0
6,F29420,1063,C,2.0,2019-09-04 10:53:53.000,2019-09-04,2019-09-04,2019-09-04,2019-09-04,402.5900,0.0,0.0
7,F29421,1063,E,2.0,2019-09-04 10:56:44.000,2019-09-04,2019-09-04,2019-09-04,NaT,402.5900,0.0,0.0
12,F29426,1064,C,2.0,2019-09-04 13:19:19.000,2019-09-04,2019-09-04,2019-09-04,2019-09-11,157.7580,0.0,0.0
13,F29427,1064,E,2.0,2019-09-04 13:44:13.000,2019-09-04,2019-09-04,2019-09-04,NaT,157.7580,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10869,F40285,1934,E,2.0,2023-02-28 18:37:30.930,2023-02-28,2023-02-27,2023-02-28,NaT,1419.0000,0.0,0.0
10874,F40290,1902,E,2.0,2023-03-01 17:06:51.927,2023-03-01,2023-03-01,2023-03-01,NaT,1630.0000,0.0,0.0
10878,F40294,1903,E,2.0,2023-03-02 12:33:13.003,2023-03-02,2023-03-02,2023-03-02,NaT,68.9700,0.0,0.0
10882,F40298,1474,E,2.0,2023-03-03 14:13:40.630,2023-03-03,2023-03-08,2023-03-03,NaT,4000.0000,0.0,0.0
10887,F40303,1264,E,2.0,2023-03-06 13:31:33.257,2023-03-06,2023-03-06,2023-03-06,NaT,1496.9115,0.0,0.0

**Filtro 2: Utilizando filtro Not y filtro Y**

Descripción: 2-CVE_VEND     (Todas las claves excepto “5” y “4”) Con este filtro se juntam las negaciones de cuando buscamos los valores tanto para 4 como para 5.

In [52]:
filtro2= df[~(df["CVE_VEND"] == 4) & ~(df["CVE_VEND"] == 5)]
filtro2.to_csv("F2_Ejercicio2.csv")
filtro2

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F29414,203,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,F29415,389,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,F29416,389,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,F29417,389,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,F29418,1053,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10890,F40306,2106,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01,2023-03-06,NaT,3272.00,0.0,0.0
10891,F40307,836,NaN,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06,2023-03-06,NaT,504.15,0.0,0.0
10892,NaN,719,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06,2023-03-06,NaT,275.68,0.0,0.0
10893,F40309,51,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07,2023-03-07,NaT,129.30,0.0,0.0
10894,F40310,271,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01,2023-03-07,NaT,517.20,0.0,0.0

**Filtro 3**

Descripción: 3-FECHA_ENT   (Fechas de “28/02/2022”) En este filtro buscamos la fecha 28/02/2022 en la variable Fecha_Ent, para este caso primero convertimos la fecha tipo objeto en tipo datetime.

In [44]:
# Convertir la columna 'FECHA_ENT' a tipo datetime
df['FECHA_ENT'] = pd.to_datetime(df['FECHA_ENT'], errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10895 entries, 0 to 10894
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CVE_DOC        10890 non-null  object
 1   CVE_CLPV       10895 non-null  int64
 2   STATUS         10886 non-null  object
 3   CVE_VEND       10847 non-null  float64
 4   FECHAELAB      10893 non-null  datetime64[ns]
 5   FECHA_DOC      10894 non-null  datetime64[ns]
 6   FECHA_ENT      10885 non-null  datetime64[ns]
 7   FECHA_VEN      10895 non-null  datetime64[ns]
 8   FECHA_CANCELA  358 non-null    datetime64[ns]
 9   CAN_TOT        10889 non-null  float64
 10  DES_TOT        10894 non-null  float64
 11  DES_FIN        10892 non-null  float64
dtypes: datetime64[ns](5), float64(4), int64(1), object(2)
memory usage: 1021.5+ KB

In [53]:
# Ahora aplicar el filtro con la fecha correcta
filtro3 = df[(df["FECHA_ENT"] == "2022-02-28")]
filtro3.to_csv("F3_Ejercicio3.csv")
filtro3

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
8077,F37493,451,E,1.0,2022-02-28 10:56:02.460,2022-02-28,2022-02-28,2022-03-30,NaT,44259.0000,0.0,0.0
8078,F37494,157,C,2.0,2022-02-28 11:34:00.367,2022-02-28,2022-02-28,2022-02-28,2022-02-28,89.6800,0.0,0.0
8081,F37497,157,C,2.0,2022-02-28 12:05:42.377,2022-02-28,2022-02-28,2022-02-28,2022-02-28,89.6800,0.0,0.0
8083,F37499,1849,E,2.0,2022-02-28 12:25:29.833,2022-02-28,2022-02-28,2022-02-28,NaT,997.5400,0.0,0.0
8084,F37500,1546,E,2.0,2022-02-28 12:32:46.687,2022-02-28,2022-02-28,2022-02-28,NaT,2508.7000,0.0,0.0
8090,F37506,146,E,2.0,2022-02-28 13:23:45.440,2022-02-28,2022-02-28,2022-02-28,NaT,2586.2100,0.0,0.0
8091,F37507,290,E,2.0,2022-02-28 13:52:43.383,2022-02-28,2022-02-28,2022-02-28,NaT,675.4000,0.0,0.0
8092,F37508,840,E,2.0,2022-02-28 14:46:56.940,2022-02-28,2022-02-28,2022-02-28,NaT,941.3965,0.0,0.0
8095,F37511,1869,E,2.0,2022-02-28 15:20:58.040,2022-02-28,2022-02-28,2022-02-28,NaT,218.9700,0.0,0.0
8096,F37512,481,E,2.0,2022-02-28 15:54:16.277,2022-02-28,2022-02-28,2022-02-28,NaT,9450.0000,0.0,0.0
8100,F37516,822,E,3.0,2022-02-28 16:33:54.413,2022-02-28,2022-02-28,2022-02-28,NaT,5951.7000,0.0,0.0
8103,F37519,555,E,3.0,2022-02-28 17:09:39.213,2022-02-28,2022-02-28,2022-02-28,NaT,2040.0000,0.0,0.0
8104,F37520,439,E,2.0,2022-02-28 17:14:57.487,2022-02-28,2022-02-28,2022-02-28,NaT,4315.0000,0.0,0.0
8107,F37523,719,E,2.0,2022-02-28 17:36:54.363,2022-02-28,2022-02-28,2022-02-28,NaT,451.6100,0.0,0.0
8133,F37549,274,E,1.0,2022-03-04 15:08:49.747,2022-03-04,2022-02-28,2022-03-04,NaT,1083.7200,0.0,0.0
8148,F37564,475,E,1.0,2022-03-08 09:15:20.507,2022-03-08,2022-02-28,2022-05-07,NaT,5515.0000,0.0,0.0
8204,F37620,1607,E,3.0,2022-03-14 17:00:43.247,2022-03-14,2022-02-28,2022-03-14,NaT,24570.3000,0.0,0.0

**Filtro 4: Usando filtro O**

Descripción: 4-CAN_TOT (Cantidades menores a 5951.7)   o  STATUS (“E”) En este filtro buscamos que se cumplen una u otra de las condiciones establecidas.

In [54]:
filtro4= df[(df["CAN_TOT"] < 5951.7 ) | (df["STATUS"] == "E")]
filtro4.to_csv("F4_Ejercicio4.csv")
filtro4

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F29414,203,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,F29415,389,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,F29416,389,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,F29417,389,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,F29418,1053,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10890,F40306,2106,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01,2023-03-06,NaT,3272.00,0.0,0.0
10891,F40307,836,NaN,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06,2023-03-06,NaT,504.15,0.0,0.0
10892,NaN,719,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06,2023-03-06,NaT,275.68,0.0,0.0
10893,F40309,51,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07,2023-03-07,NaT,129.30,0.0,0.0
10894,F40310,271,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01,2023-03-07,NaT,517.20,0.0,0.0

**Filtro 5: Filtro por columnas no consecutivas**

Descripción: 5- Solo las columnas: CVE_DOC, FECHA_ENT, FECHA_VEN y CAN_TOT
En este filtro se busca las columnas numero 0,6,7,9.

In [56]:
filtro5 = df.iloc[ : , [0,6,7,9]]
filtro5.to_csv("F5_Ejercicio5.csv")
filtro5

      CVE_DOC  FECHA_ENT  FECHA_VEN  CAN_TOT
0      F29414 2019-09-03 2019-09-18  3980.00
1      F29415 2019-09-03 2019-10-03  1550.00
2      F29416 2019-09-03 2019-10-03  1550.00
3      F29417 2019-09-03 2019-10-03  1550.00
4      F29418 2019-09-03 2019-09-03  2435.44
...       ...        ...        ...      ...
10890  F40306 2023-03-01 2023-03-06  3272.00
10891  F40307 2023-03-06 2023-03-06   504.15
10892     NaN 2023-03-06 2023-03-06   275.68
10893  F40309 2023-03-07 2023-03-07   129.30
10894  F40310 2023-03-01 2023-03-07   517.20

[10895 rows x 4 columns]

**Filtro 6: Por filas**

Descripción: 6-Solo las filas de 7001-7099
Aquí en este filtro se seleccionan filas consecutivas que van del 7001 al 7100 debido a que se excluye una por la posición.

In [58]:
filtro6 = df.iloc[7001:7099, :]
filtro6.to_csv("F6_Ejercicio6.csv")
filtro6

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
7001,F36417,574,E,3.0,2021-10-15 08:40:29.183,2021-10-15,2021-10-06,2021-11-14,NaT,8555.24,0.0,0.0
7002,F36418,669,E,2.0,2021-10-15 08:51:03.463,2021-10-15,2021-10-14,2021-10-15,NaT,620.77,0.0,0.0
7003,F36419,177,E,3.0,2021-10-15 08:56:23.280,2021-10-15,2021-10-15,2021-10-15,NaT,560.00,0.0,0.0
7004,F36420,125,E,1.0,2021-10-15 09:01:08.393,2021-10-15,2021-10-15,2021-12-14,NaT,23625.00,0.0,0.0
7005,F36421,528,E,1.0,2021-10-15 09:07:07.103,2021-10-15,2021-10-08,2022-01-13,NaT,3308.78,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7094,F36510,428,E,2.0,2021-10-27 13:01:57.527,2021-10-27,2021-10-21,2021-11-11,NaT,2904.40,0.0,0.0
7095,F36511,428,E,2.0,2021-10-27 13:07:43.223,2021-10-27,2021-10-27,2021-11-11,NaT,1137.50,0.0,0.0
7096,F36512,1483,E,2.0,2021-10-27 13:22:23.980,2021-10-27,2021-10-27,2021-10-27,NaT,94.84,0.0,0.0
7097,F36513,416,E,2.0,2021-10-27 13:35:40.677,2021-10-27,2021-10-27,2021-10-27,NaT,847.00,0.0,0.0
7098,F36514,629,E,2.0,2021-10-27 14:02:54.630,2021-10-27,2021-10-27,2021-10-27,NaT,965.00,0.0,0.0

**Filtro 7 :**

Descripción: 7-Index= CVE_VEND (valores: 1, 2)  (columna: FECHAELAB)
Se utiliza el parámetro index_col=3 para especificar que la primera columna del archivo será utilizada como índice del DataFrame.

In [59]:
df1= pd.read_excel('Datos de Facturación.xlsx', index_col=3)
df1

,CVE_DOC,CVE_CLPV,STATUS,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
CVE_VEND,,,,,,,,,,,
1.0,F29414,2465,C,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1.0,F29415,3926,C,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
1.0,F29416,3926,C,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
1.0,F29417,3926,C,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
2.0,F29418,6813,C,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2.0,F40306,8842,E,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaT,3272.00,0.0,0.0
2.0,F40307,6218,NaN,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,504.15,0.0,0.0
2.0,NaN,5926,E,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,275.68,0.0,0.0
2.0,F40309,361,E,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaT,129.30,0.0,0.0
2.0,F40310,3011,E,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaT,517.20,0.0,0.0

Descripción: 7-Index= CVE_VEND (valores: 1, 2)  (columna: FECHAELAB), aquí filtramos con el indice de CVE_VEND y las filas especificas 1 y 2.

In [62]:
filtro7 = df1.loc[[1,2],["FECHAELAB"]]
filtro7.to_csv("F7_Ejercicio7.csv")
filtro7

                       FECHAELAB
CVE_VEND
1.0      2019-09-03 08:58:42.000
1.0      2019-09-03 09:55:14.000
1.0      2019-09-03 13:25:33.000
1.0      2019-09-03 13:33:23.000
1.0      2019-09-04 09:15:12.000
...                          ...
2.0      2023-03-06 16:09:39.013
2.0      2023-03-06 16:38:42.933
2.0      2023-03-06 17:02:33.390
2.0      2023-03-07 12:43:49.567
2.0      2023-03-07 12:45:58.407

[8665 rows x 1 columns]